<div class="container p-3 shadow p-3 mb-5 rounded" id="form">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" style="display: none;" id="spinner">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <p class=" h2 text-center font-weight-italic ">Update Bus</p>
    <form name="form" #FormUpdate="ngForm" (ngSubmit)="submit(FormUpdate.value)">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bus_name">Bus Name</label>
                <input type="text" class="form-control" name="bus_name" [ngModel]="bus_name">
            </div>
            <div class="form-group col-md-6">
                <label for=" description"> description</label>
                <input type="text" class="form-control" name="description" [ngModel]="description">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="number_of_seat">Number Of Seat</label>
                <input type="text" class="form-control" name="number_of_seat" [ngModel]="number_of_seat">
            </div>
            <div class="form-group col-md-6">
                <label for="img_url">Image</label>
                <input type="text" class="form-control" name=img_url [ngModel]=img_url>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="number" class="form-control" name="price" [ngModel]="price">
            </div>
            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <input type="number" class="form-control" name="status" [ngModel]="status">
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-sm mr-2">Update Bus</button>
            <a type="button " class="btn btn-danger btn-sm" routerLink="/admin/buses">Cancel</a>
        </div>
    </form>
</div>