<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark sticky-top shadow-lg shadow-lg p-3 mb-0 rounded rounded" style="background-color: #364ed9;">
    <div class="container">
        <a class="navbar-brand border border-light bg-light" routerLink="/"><img src="../../assets/images/logo.png" height="45px" width="auto" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/client/landing-page">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/client/about">About</a>
                </li>

                <div class="dropdown">
                    <button id="admn" class="float-left btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="color: white;" aria-haspopup="true" aria-expanded="false">User</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="logout()">Sign Out</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
<br /><br />
<div class="container p-3 shadow p-3 mb-5 rounded" id="form">
    <p class=" h2 text-center font-weight-italic ">Reserve your Trip</p>
    <div class="text-center">
        <div class="spinner-border" role="status" style="display: none;" id="spinner">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <form name="form" [formGroup]="form" (ngSubmit)="form.valid && booking()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bus_name">Bus Name</label>
                <input type="text" class="form-control" formControlName="bus_name" disabled placeholder="{{bus.bus_name}}">
            </div>
            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <input type="text" class="form-control" formControlName="status" disabled placeholder="{{ bus.status }}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sdate">Start Date </label>
                <input type="date" name="datemin" class="form-control" formControlName="start_date" min="2000-01-30" required>
            </div>
            <div class="form-group col-md-6">
                <label for="edate">End Date </label>
                <input type="date" name="datemin" class="form-control" formControlName="end_date" min="2000-01-30" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="number" class="form-control" formControlName="price" disabled placeholder="{{bus.price}}" />
            </div>
            <div class="form-group col-md-6">
                <label for="payment">Payment Method</label>
                <select name="payment" class="form-control" formControlName="payment" required>
                    <option value="COH">Cash on Hand</option>
                    <option value="paypay">Paypal</option>
                    <option value="paymaya">Paymaya</option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <button type="button " class="btn btn-primary btn-sm " [disabled]="!form.valid">
                Book Now
            </button>
            <button type="button " class="btn btn-danger btn-sm" routerLink="/userhome">Cancel</button>
        </div>
    </form>
</div>

<app-footer></app-footer>