<strong><h1>Clients: </h1></strong>
<div class="text-center">
    <div class="spinner-border" role="status" style="display: none;" id="spinner">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<table class="table">
    <thead class="thead">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Address</th>
            <th scope="col">Email Address</th>
            <th colspan="2" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstname }} {{user.lastname}}</td>
            <th scope="row">{{user.contact_number}}</th>
            <td>{{user.address}}</td>
            <td>{{user.email_address}}</td>
            <td>
                <button class="btn btn-primary" (click)="update(user)">Update</button>
            </td>
            <td>
                <button class="btn btn-danger" style="margin-left:20px;" (click)=" alertConfirmation(user.id) ">Delete</button>
            </td>
        </tr>
    </tbody>
</table>